<h1>Estamos na home</h1>

<% if user_signed_in? %>
    Olá, <%= current_user.email %>,
    <br>
    <h2>Lista de Tweets</h2>

    <%= current_user.active_relationships.each do |r| %>
        <%= r %>
    <% end %>
    
    <%= form_for @tweet do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
    <% end %>

    <ul>
        <% current_user.tweets.each do |tweet| %>
            <li><%= tweet.content %></li>
        <% end %>
    </ul>
    <br>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Clique aqui para logar', new_user_session_path %>
<% end %>

