<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="notificacoes">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= link_to "Meu Perfil", root_path %>
      <%= link_to "Usuários", users_path %>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Feito no bootcamp</p>
    </footer>
  </body>
</html>
